<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- CONSOLE APPENDER -->
    <appender name="MyConsoleAppenderName" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>My File Appender: %d %p %c{0} %m %n</Pattern>
        </encoder>
    </appender>

    <!-- FILE APPENDER -->
    <appender name="MyFileAppenderName" class="ch.qos.logback.core.FileAppender">

        <!-- FILE NAME -->
        <file>logs/File.log</file>

        <!-- ENCODER -->
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>My File Appender: %d %p %c{30} %m %n</Pattern>
        </encoder>

    </appender>

    <!-- ROLLING FILE APPENDER -->
     <appender name="MyRollingFileAppenderName" class="ch.qos.logback.core.rolling.RollingFileAppender">

        <!-- FILE NAME -->
        <file>logs/RollingFile.log</file>

        <!-- ENCODER -->
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>My File Appender: %d %p %c{30} %m %n</Pattern>
        </encoder>

        <!-- ROLLOVER POLICY (daily and when the file reaches 1MB) -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/archived/RollingFile-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>

    </appender>

    <!-- LOGGER -->
    <logger name="com.ivoronline.springboot_log_logback_config_xml.controllers" level="INFO">
        <appender-ref ref="MyConsoleAppenderName"    />
        <appender-ref ref="MyFileAppenderName"       />
        <appender-ref ref="MyRollingFileAppenderName"/>
    </logger>

    <!-- DISABLE DEFAULT LOGGER (since no appenders are defined) -->
    <root level="info"> </root>

</configuration>



